/* div {
    border: 2px solid red;
} */

#fans-body {
    display :grid;
    grid-template-columns: auto;
    text-align: center;
    min-height: 100vh;
    background-color: #282c34;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}


#fans-gallery{
    display:flex;
    flex-direction: "row";
}

.fans-gallery-button {
    min-width: 100px;
    min-height: 100px
}

#fans-main {
    
    max-width: 80ch;
}

