div {
    /* border: 2px solid red; */
    background-color: blue;
    background-color: #282c34;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

#fans-gallery{
    display:flex;
    flex-direction: "row";



}

.fans-gallery-button {
    grid-area: "gallery";
    min-width: 100px;
    min-height: 100px
}

#fans-body {
    display :grid;
    grid-template-columns: auto;
    text-align: center;
    min-height: 100vh;

    /* border-top-width :2px */
}

#fans-main {
    
    max-width: 80ch;
}

